name: Upgrade C# dependencies

on:
  push:
    branches:
      - main

  schedule:
    - cron: '5 2 * * 1' # every Monday

  workflow_dispatch:

jobs:
  upgrade:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      # Use PAT instead of GITHUB_TOKEN to allow this workflow to trigger other workflows
      # PAT should have permissions: contents:write, pull-requests:write
      # Scoped to this repository only
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.PAT }}

      - uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          dotnet-version: 8.x

      - name: Build
        run: dotnet build $GITHUB_WORKSPACE/AzDoExtensionNews/AzDoExtensionNews.sln

      - name: Upgrade packages
        env:
          GH_TOKEN: ${{ secrets.PAT }}
        run: |
          # get the tool
          dotnet tool install --global dotnet-outdated-tool

          # run the tool, skip the restore to prevent issues with the lock file
          dotnet outdated --no-restore --upgrade AzDoExtensionNews\

          # now try a restore, if it succeeds, we can still continue
          dotnet restore AzDoExtensionNews/AzDoExtensionNews.sln --use-lock-file --force-evaluate

          # check for any updates with git porcelain
          if [[ -n $(git status --porcelain "Directory.Packages.props") ]]; then

            # build the solution again to make sure it did not break
            dotnet build $GITHUB_WORKSPACE/AzDoExtensionNews/AzDoExtensionNews.sln

            echo "Committing changes to git and pushing to GitHub..."
            git checkout -b upgrade-dependencies

            git config --global user.email "bot@github-actions.com"
            git config --global user.name "GitHub Actions Bot"

            git add "Directory.Packages.props"

            git commit -am "chore: upgrade c# dependencies"
            git push --set-upstream origin upgrade-dependencies

            gh pr create --title "chore: upgrade dependencies" --body "This PR upgrades C# dependencies"
          else
            echo "No changes detected"
          fi